@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: "Open sans", sans-serif;
}


.global-wrapper {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header"
    "content";
}

nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  /* Clear header height */
  margin-top: 55px;
  background-color: red;
  opacity: 1;
}

#nav--closed {
  left: -100%;
  transition: .5s ease-in-out;
}

#nav--open {
  left: 0%;
  transition: .5s ease-in-out;
}

/* nav ul {
  margin-top: 100px;
} */

.header {
  grid-area: header;
  position: fixed;
  border-bottom: 1px black solid; 
  background-color: white;
  width: 100%;
}

.icons {
  position: absolute;
  float: left;
  margin: 15px 0;
}

.header > .icons > * {
  color: black;
  margin: 30px 8px;
}

#header-github-icon, 
#header-twitter-icon, 
#header-linkedin-icon {
  display: none;
}

.header h1 {
  float: left;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  width: 100vw;

}

main {
  width: 100%;
}

#nav--open ~ main {
  margin-left: 100%;
  transition: .5s ease-in-out;
}

#nav--closed ~ main {
  transition: .5s ease-in-out;
}

.content {
  grid-area: content;
}

@media (min-width: 700px) {
  .global-wrapper {
    grid-template-columns: 80px 1fr;
    grid-template-areas:
      "header content"
      "header content"
   }

  nav {
    width: 400px;
    margin-top: 0px;
  }

  #nav--closed {
    left: -320px;
    transition: .75s ease-in-out;
  }
  
  #nav--open {
    transition: .75s ease-in-out;
    /* Clear sidebar width */
    left: 80px;
  }

  .header {
  position: fixed;
  width: 80px;
  /* top: 25px; */
  height: 100vh;

  border-right: 1px black solid;
  border-bottom: none;
  }

  .icons {
    position: relative;
  }

  #header-github-icon, 
  #header-twitter-icon, 
  #header-linkedin-icon {
    display: block;
  }

  .header > .icons > * {
    display: block;
    margin: 15px 30px;
  }

  .header h1 {
    position: relative;
    text-align: center;
    width: auto;

    writing-mode: vertical-lr;
    transform: rotate(180deg);

    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    margin: 1em 25px;
  }

  
  main {
    margin-left: 10px;
  }
  
  #nav--open ~ main {
    margin-left: 400px;
    transition: .75s ease-in-out;
  }

  #nav--closed ~ main {
    margin-left: 10px;
    transition: .75s ease-in-out;
  }

}